#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>
       
    <div id="crudListPagination">
        #{crud.pagination /}
    </div>    
    

    <div id="crudListTable">
        #{crud.table fields:['acronimo','nome','descricion','organismo.ficha']}                      
        #{crud.custom 'organismo.ficha'}  
          <a class="pdf" href="/data/manuales/ManualUM.pdf"><img src="/public/images/line/transparentInputImage.png" class="pdf" title="&{'organismo.fichaOrganismo'}"/></a>               
          #{/crud.custom}            
        #{/crud.table}
    </div>

    <div id="crudListPagination">
        #{crud.pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'crud.add', type.modelName}</a>
    </p>

</div>
