/nbproject/private/
/eclipse/.settings/
/.settings/
/test-result/
/tmp/
/nbproject/
/eclipse
/Doc/.ptmp657136/
/backup/.ptmp178591/
/backup/unionManage20121001tar.gz
/backup/unionManage20121002.tar.gz
/backup/unionManage20121001
/backup/unionManage20121004.tar.gz
/backup/unionManage20121008.tar.gz
/backup/unionManage20121010.tar.gz
/backup/unionManage20121001.tar.gz
/logs/system.out
/db/
/data/