%{ nbPages = _caller.count.page(controllers.CRUD.getPageSize()) }%
%{ nrowsPage = controllers.CRUD.getPageSize() 
   startRow=nrowsPage*(_caller.page-1)+1
   endRow=nrowsPage*(_caller.page-1)+nrowsPage
}%

<p class="crudCount">
    &{'crud.list.size', _caller.count, _caller.type.name} 
    #{if nbPages > 1}
    &{'crud.list.rowSize', startRow, endRow} 
    #{/if}
</p>

#{if nbPages > 1}
    <p class="crudPages">




        %{
            limit = (_limit != null ? _limit : 10)
            start = _caller.page - (int)(limit/2) + (limit % 2 ? 0 : 1)
            end = _caller.page + (int)(limit/2)

            if(start < 1){
                extra = 1 - start
                end = (end + extra < nbPages ? end + extra : nbPages)
                start = 1
            }else if(end > nbPages){
                extra = end - nbPages
                start = (start - extra > 1 ? start - extra : 1)
                end = nbPages
            }
        }%

        
        #{if _caller.page > 1}
            <span >
                <input  type="button" onclick="javascript:document.searching.page.value=${_caller.page-1};document.searching.submit()" value="&{'crud.pagination.previous'}" />

            </span>
        #{/if}

        #{if start > 1}
            <span >
                <input type="button" onclick="javascript:document.searching.page.value=1;document.searching.submit()" value="&{'crud.pagination.first'}" />

            </span>
        #{/if}

        %{ for (i in start..end) { }%
            <span class="page">
                #{if _caller.page == i}
                    <strong>${i}</strong>
                #{/if}
                #{else}
                <input type="button" onclick="javascript:document.searching.page.value=${i};document.searching.submit()" value="${i}" />
                #{/else}
            </span>
        %{ } }%

        #{if end < nbPages}
            <span >
                <input  type="button" onclick="javascript:document.searching.page.value=${nbPages};document.searching.submit()" value="&{'crud.pagination.last'}" />               
            </span>
        #{/if}

        #{if _caller.page < nbPages}
            <span >
                <input type="button" onclick="javascript:document.searching.page.value=${_caller.page+1};document.searching.submit()" value="&{'crud.pagination.next'}" />
            </span>
        #{/if}

    </p>
#{/if}
