#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListTable">
        #{crud.table fields:['titulo','dataCelebracion','generic.facerAviso']}
        #{crud.custom 'dataCelebracion'}
        #{if (object.dataCelebracion!=null)}
        ${object.dataCelebracion.format()}
        #{/if}
        #{/crud.custom}  
        #{crud.custom 'generic.facerAviso'}  
        
        #{if (object.estado==null || object.estado.id==1)}
        <a class="del" href="javascript: confirmaAccion('&{'generic.confirmaAvisoAfiliacion',object}','@{mandarAvisoAsemblea(object.id,page,search)}')" title="&{'generic.avisoAfiliacion',object}" >&{'generic.facerAviso'}</a>        
       
        
        #{/if}
        #{/crud.custom}    


        #{/crud.table}
    </div>

    <div id="crudListPagination">
        #{crud.pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'crud.add', type.modelName}</a>
    </p>

</div>
