#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListTable">
        #{crud.tableNonEliminar fields:['persoa','dataAlta','dataBaixa','estadoAfiliado','afiliado.accionFacerBaixa']}
        #{crud.custom 'dataAlta'}
        #{if (object.dataAlta!=null)}
        ${object.dataAlta.format()}
        #{/if}
        #{/crud.custom}
        #{crud.custom 'dataBaixa'}
        #{if (object.dataBaixa!=null)}
        ${object.dataBaixa.format()}
        #{/if}
        #{/crud.custom}
              
        #{crud.custom 'afiliado.accionFacerBaixa'}  
          <a class="del" href="@{xeneraFichaAfiliado(object.id,page,search)}">&{'afiliado.fichaAfiliado'}</a>               
        #{if (object.estadoAfiliado.id==1) }
          <a class="del" href="javascript: confirmaEliminar('&{'generic.confirmaBaxia',object.persoa}','@{darDebaixaERepintar(object.id,page,search)}')">&{'afiliado.facerBaixa'}</a>        
        #{/if}
        #{if (object.estadoAfiliado.id==2) }
          <a class="del" href="javascript: confirmaEliminar('&{'generic.confirmaAlta',object.persoa}','@{darDeAltaERepintar(object.id,page,search)}')">&{'afiliado.facerAlta'}</a>        
        #{/if}
        #{/crud.custom}            
        #{/crud.tableNonEliminar}
    </div>

    <div id="crudListPagination">
        #{crud.pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'crud.add', type.modelName}</a>
    </p>

</div>
