#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListPagination">
        #{crud.paginationForeign /}
    </div>    
    
    <div id="crudListTable">
        #{crud.tableNonEliminar fields:['persoa','dataAlta','dataBaixa','estadoAfiliado','afiliado.accion']}
        #{crud.custom 'dataAlta'}
        #{if (object.dataAlta!=null)}
        ${object.dataAlta.format()}
        #{/if}
        #{/crud.custom}
        #{crud.custom 'dataBaixa'}
        #{if (object.dataBaixa!=null)}
        ${object.dataBaixa.format()}
        #{/if}
        #{/crud.custom}
              
        #{crud.custom 'afiliado.accion'}  
          <a class="pdf" href="@{xeneraFichaAfiliado(object.id,page,search)}"><img src="/public/images/line/transparentInputImage.png" class="pdf" title="&{'afiliado.fichaAfiliado'}"/></a>               
        #{if (object.estadoAfiliado.id==1) }
        <input src="/public/images/line/transparentInputImage.png" class="afiliadosmenos"   type="image" title="&{'afiliado.facerBaixa'}  ${field}${object.toString()?.escape()?.raw() ?: '(no value)'}"  onclick="javascript:confirmaAccionSubmitSearching('&{'generic.confirmaBaxia',object.persoa}','darDebaixaERepintar',${page},${object._key()})" value="" /> 
        #{/if}
        #{if (object.estadoAfiliado.id==2) }
        <input src="/public/images/line/transparentInputImage.png" class="afiliadosmais" type="image" title="&{'afiliado.facerAlta'}  ${field}${object.toString()?.escape()?.raw() ?: '(no value)'}"  onclick="javascript:confirmaAccionSubmitSearching('&{'generic.confirmaAlta',object.persoa}','darDeAltaERepintar',${page},${object._key()})" value="" /> 
        #{/if}
        #{/crud.custom}            
        #{/crud.tableNonEliminar}
    </div>

    <div id="crudListPagination">
        #{crud.pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'crud.add', type.modelName}</a>
    </p>

</div>
