#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListTable">
        #{crud.table fields:['tipoConflito','nome','descricion','dataInicio','dataRemate','conflito.fichaConflito']}
        #{crud.custom 'dataInicio'}
        #{if (object.dataInicio!=null)}
        ${object.dataInicio.format()}
        #{/if}
        #{/crud.custom}
        #{crud.custom 'dataRemate'}
        #{if (object.dataRemate!=null)}
        ${object.dataRemate.format()}
        #{/if}
        #{/crud.custom}
        
        #{crud.custom 'conflito.fichaConflito'}  
          <a class="del" href="@{xeneraFichaConflito(object.id,page,search)}">&{'conflito.fichaConflito'}</a>               
        #{/crud.custom}               
        
        #{/crud.table}
    </div>

    <div id="crudListPagination">
        #{crud.pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'crud.add', type.modelName}</a>
    </p>

</div>
