#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}




<div id="crudBlank" class="${type.name}">

    <h2 id="crudBlankTitle">${object.nomeInforme}</h2>

    <div class="objectForm">
    #{form action:@informes(), enctype:'multipart/form-data'}
        #{informes.formInformes /}
        <input type="hidden" name="claseInforme" value="&{type.modelName}">
        <p class="crudButtons">
            ${val2}
            <input type="submit" name="informe" value="&{'informes.xerar'} ${object.nomeInforme}" />
          
        </p>
    #{/form}
    </div>

</div>