#{extends 'CRUD/layout.html' /}
#{set title:'Change password' /}

<div id="crudBlank">

    <h2 id="crudBlankTitle">&{'cambioPassword'}</h2>

    <div class="objectForm">
        #{form @changePassword()}
        <div class="crudField crud_text">
            #{field 'passwordActual'}

            <label for="object_email">
                &{'passwordActual'}
            </label> 

            <input type="password" class="${field.errorClass}" name="passwordActual" size="16" value="${passwordActual}"> 
            <span class="error">${field.error}</span>
            <span class="crudHelp">&{'crud.help.required'}</span>


            #{/field}
            </div>
        <div class="crudField crud_text">
            #{field 'connected.password'}

            <label for="object_email">
                &{'passwordNova'}
            </label> 

            <input type="password" class="${field.errorClass}" name="password" size="16" value="${connected?.password}"> 
            <span class="error">${field.error}</span>
            <span class="crudHelp">&{'crud.help.required'}</span>


            #{/field}
        </div>    
        <div class="crudField crud_text">
            #{field 'verifyPassword'}

            <label for="object_email">
                &{'retryPasswordNova'}
            </label>

            <input type="password" class="${field.errorClass}" name="${field.name}" size="16" value="${verifyPassword}">            
            <span class="error">${field.error}</span>
            <span class="crudHelp">                                                                
                &{'crud.help.required'}
            </span>            


            #{/field}
        </div>   
        <p class="crudButtons">
            <input type="submit" value="&{'crud.save'}"> 
            <a class="crudButtons" href="@{privado.index()}">&{'crud.cancel'}</a>    
        </p>
        #{/form}
    </div>
</div>