#{extends 'CRUD/layoutPublico.html' /} 
#{set title:'Forgot password' /}

<div id="anuncioRecuperaPassword" >
   <p class="titulo">
    &{'password.olvidoPassword'}
   </p>

   

<div class="objectFormPublico">
    <h2 id="crudBlankTitle"></h2>
    
        #{form @forgotPassword()}
        <div class="crudFieldPublico crud_text">
            #{field 'email'}

            <label for="object_email">
                &{'email'}
            </label> 

            <input type="text" class="${field.errorClass}" name="email" size="50" value="${email}"> 
            <span class="error">${field.error}</span>            
            #{/field}
        </div>

        <p class="crudButtons">
            <input type="submit" value="&{'crud.enviar'}"> 
            <a class="crudButtons" href="@{Secure.login()}">&{'crud.cancel'}</a>    
        </p>
        #{/form}

</div> </div>
