/** Administration area **/

#crud {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', 'Arial', 'Sans';
	font-size: 90%;
	color: #111;   
        position:relative;
	top:-100px;
}


/** Header **/

#crud #crudHeader {
	background: #111111;
	padding: 10px 20px;
}

#crud #crudHeader h1 {
	margin: 0;
	font-weight: normal;
}

#crud #crudHeader h1 a {
	color: gold;
	text-decoration: none;
}

/** Breadcrumb **/

#crudBreadcrumb {
	padding: 5px 20px;
	font-size: 80%;
	border-bottom: 1px solid #ddd;
}

#crudBreadcrumb ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#crudBreadcrumb li {
	display: inline;
}

#crudBreadcrumb a {
	color: #333;
}

#crudBreadcrumb li:last-child a {
	color: #888;
	text-decoration: none;
}

/** Flash message **/

.crudFlash {
	padding: 5px 20px;
	border-bottom: 1px solid #ddd;
	color: #fff;
}

.flashError {
    margin-top: 20px;
    background: #c00;
}

.flashSuccess {
    margin-top: 20px;
    background: #91AACA;
    font-weight: bold;
}

/** Content **/

#crud #crudContent {
	padding: 10px 20px;
}

#crud #crudContent h2 {
	color: #333;
	font-weight: normal;
	margin-top: 5px;
        margin-bottom: 0px;
}

#crud #crudContent h2.red{
	position: relative;        
	background: #ff2222;
        font-size: 24px;
	padding: 2px 8px;
        margin-bottom: 5px;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff !important;
	
}

#crud #crudContent a {
	color: #444;
}

#crud #crudContent a.img {
	color: #444;
        text-decoration : none;
}

/** Tables **/

#crud #crudContent table tbody tr:hover { background: #B8D4F8; }
#crud #crudContent .tableForeig tr.even:hover { background: #B8D4F8; }



#crud #crudContent table {
	min-width: 100%;
	border: 1px solid #ddd;
	border-top: none;
	border-collapse: collapse;
	table-layout: fixed;
}



#crud #crudContent table thead tr {
	background: #0A65AF;
}

#crud #crudContent table th {
	color: #fff;
	font-weight: bold;
}

#crud #crudContent table th a {
	color: #fff;
	font-weight: bold;
}

#crud #crudContent table th {
	text-align: left;
	
}

#crud #crudContent table th.date {
	text-align: left;
        width: 10%;	
}

#crud #crudContent table td.date {
	text-align: left;
        max-width: 10%;
        width: auto;	
}

#crud #crudContent table th.text {
	text-align: left;
        
        max-width: 60%;
        min-width: 20%;
        width: auto;

}

#crud #crudContent table td.text {
	text-align: left;
        max-width: 60%;
        min-width: 20%;
        width: auto;
}

#crud #crudContent table th.relation {
	text-align: left;
    
        width: auto;
}

#crud #crudContent table td.relation {
	text-align: left;       
       
        width: auto;
}

#crud #crudContent table th.tipoAccion {
	text-align: center;
        max-width: 10%;
        width: auto;	
}

#crud #crudContent table td.tipoAccion {
	text-align: center;
        max-width: 10%;
        width: auto;	
}


#crud #crudContent table th.accion {
	text-align: center;
        width: 200px;	
}

#crud #crudContent table td.accion {
	text-align: center;
        width: 200px;
        
}

#crud #crudContent table th.accion  a.add {
	position: relative;        
	background: #91AACA;
	padding: 1px 4px;
	font-size: 75%;        
	-moz-border-radius: 4px;
	-webkit-border-radius: 2px;
	color: #fff !important;
	text-decoration: none;
        vertical-align: sub;
}

#crud #crudContent table th.accion  input.add {
	position: relative;        
	background: #91AACA;
	padding: 1px 4px;
	font-size: 80%;
        cursor:pointer;
        border:0px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 2px;
	color: #fff !important;
	text-decoration: none;
}

#crud #crudContent table th.accion  input.add:hover {
	opacity: .8;
}

#crud #crudContent table td.del {	
        text-align: right;	
}

#crud #crudContent table td  a.del {
	position: relative;
        text-align: right;
	background: #DA2c24;
	padding: 2px 8px;        
	font-size: 90%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff !important;
	text-decoration: none;
}

#crud #crudContent table td  a.del:hover {
	opacity: .8;
}

#crud #crudContent table  td.accion a img.del {
width:20px; 
height:20px; 
border:0;

background: transparent url(/public/images/del.png) no-repeat center;
border-style: none;
vertical-align: sub;

}

#crud #crudContent table td.accion  input.lock:hover {
	opacity: .8;
}

#crud #crudContent table  td.accion input.lock{
width:20px; 
height:20px; 
border:0;

background: transparent url(/public/images/lock.png) no-repeat center;
border-style: none;
vertical-align: sub;

}

#crud #crudContent table td  input.unlock:hover {
	opacity: .8;
}

#crud #crudContent table  td.accion input.unlock{
width:20px; 
height:20px; 
border:0;

background: transparent url(/public/images/unlock.png) no-repeat center;
border-style: none;
vertical-align: sub;


}

#crud #crudContent table td  botton.ver:hover {
	opacity: .8;
}



#crud #crudContent table  td.accion input.ver  {
width:20px; 
height:20px; 
border:0;
background: transparent url(/public/images/ver.png) no-repeat center;
border-style: none;
vertical-align: sub;

}

#crud #crudContent table  td.accion input.delete  {
width:20px; 
height:20px; 
border:0;
background: transparent url(/public/images/del.png) no-repeat center;
border-style: none;
vertical-align: sub;

}

#crud #crudContent table  td.accion a img:hover {
	opacity: .7;
}


#crud #crudContent table th  a:hover {
	opacity: .8;
}

#crud #crudContent table td {
	text-align: left;
	padding: 0px 0px;
}

#crud #crudContent table td {
	border-bottom: 1px solid #eee;
}

#crud #crudContent table tr.even {
	background: #f9f9f9;
}

#crud #crudContent table tr:last-child td {
	border-bottom: 1px solid #ddd;
}

.crudSortedAsc:after {
	content: '▼';
}

.crudSortedDesc:after {
	content: '▲';
}

/** Forms **/

form {
	margin: 0;
}

input, textarea, select {
	font-family: 'Helvetica', 'Arial', 'Sans';
	font-size: 12px;
}

textarea {
	padding: 2px;
}

.objectForm {
	border: 1px solid #ddd;
}

label {
	display: block;
	font-weight: bold;
	width: 20%;
	float: left;
	color: #666;
	cursor: pointer;
}

.crudField {
	padding: 0px;
	border-bottom: 1px solid #eee;
	position: relative;
}

.crud_hidden {
    display: none;
}

.crudButtons {
	background: #efefef;
	text-align: right;
	margin: 0;
	padding: 10px;
}


.crudButtons input{
	color: #ffffff !important;
	border:none;	
	position: relative;
	background: #000;
	padding: 2px 20px;
	font-size: 90%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;	
}
.crudButtons a{
	color: #ffffff !important;;
        text-decoration: none;
	border:none;	
	position: relative;
	background: #000;
	padding: 2px 20px;
	font-size: 90%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
        
}

.crudButtons a:hover{
	opacity: .7;
}

.crudButtons input:hover {
	opacity: .7;
}


.crudButtonTableForeign {
	width: 150px;
        text-align: center;        	
}


.crudButtonTableForeign input.engadir {
	color: #ffffff !important;
	border:none;	
	position: relative;
	background: #000;
	padding: 2px 20px;
	font-size: 90%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
}

.crudButtonTableForeign input.engadir:hover {
	opacity: .7;
}

.crudButtonTableForeign input.voltar {
	color: #ffffff !important;
	border:none;	
	position: relative;
	background: #c05555;;
	padding: 2px 20px;
	font-size: 90%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
        min-width: 85px;
	cursor: pointer;        
}

.crudButtonTableForeign input.voltar:hover {
	opacity: .7;
}

.crudField .error {
	color: #c00;
	padding-left: 10px;
	position: absolute;
	top: 15px;
	font-size: 80%;
}

.crudField .hasError {
	color: #c00;
}

.crudField select[multiple] {
	max-height: 100px;
}

.crudField .crudHelp {
	font-size: 70%;
	color: #888;
	display: block;
	margin-left: 20%;
	margin-top: 5px;
}

form .currentAttachment {
	display: block;
	font-size: 80%;
	margin-left: 20%;
	padding-top: 4px;
}

form .removeAttachment {
    display: block;
    font-size: 80%;
    margin-left: 20%;
}

/** Footer **/

#crud #crudFooter {
	font-size: 80%;
	color: #aaa;
	padding: 10px 20px;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	margin-top: 20px;
}

#crud #crudFooter a {
	color: #333;
}

/** Home **/

.crudNew {
	text-align: right !important;
}

.crudNew a {
	background: #54BD06;
	padding: 2px 10px;
	font-size: 90%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff !important;
	text-decoration: none;
}

.crudNew a:hover {
	opacity: .8;
}

/** List search foreign**/

#crudListForeign {
	list-style: none;
	width: 70%;
	margin: 30px auto 20px;
	padding: 10px 10px 10px;
	position: relative;
	min-height: 150px;
	background: #ffffff;
	-webkit-box-shadow: rgba(0,0,0,0.4) 0 15px 40px, #aa5511 0 1px 1px, #ffffff 0 -1px 0px;
	-moz-box-shadow: rgba(0,0,0,0.4) 0 15px 40px, #aa5511 0 1px 1px, #ffffff 0 -1px 0px;
	border-radius: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}


#onlyShow {
	list-style: none;
	width: 50%;
	margin: 30px auto 20px;
	padding: 10px 10px 10px;
	position: relative;
	min-height: 250px;
	background: #ffffff;
	-webkit-box-shadow: rgba(0,0,0,0.4) 0 15px 40px, #aa5511 0 1px 1px, #ffffff 0 -1px 0px;
	-moz-box-shadow: rgba(0,0,0,0.4) 0 15px 40px, #aa5511 0 1px 1px, #ffffff 0 -1px 0px;
	border-radius: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
#fecharVenta {
    width:20px; 
    right: 10px;
    position: absolute;
    height:20px; 
    border:0;
    background: transparent url(/public/images/del.png) no-repeat center;
    border-style: none;
}

/** List **/

#crudList {
	position: relative;
}

#crudListAdd a {
        display: none;
	margin: 0;
	position: relative;
	top: 0;
	right: 0;
	background: #54BD06;
	padding: 3px 10px;
	font-size: 90%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff !important;
	text-decoration: none;
}



#crudListSearch {
	padding: 4px 5px;
	border: 1px solid #ddd;
	background: #efefef;
}



#crudListSearch input[type=text] {
	width: 10%;
}

#crudListSearch label {
	display: block;
	font-weight: bold;
	width: 10%;
	float: left;
	color: #666;
	cursor: pointer;
}

#crudListSearch a {
	color: #111 !important;
	font-size: 90%;
}

#crudListSearch input[type=submit] {
	color: #ffffff;
	border: none;
	margin: 0;
	position: relative;
	background: #6A6A6A;
	padding: 2px 10px;
	font-size: 90%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
}

#crudListSearch input[type=submit]:HOVER {
	opacity:.7;
	}

#crudListPagination {
        margin-top: 10px;
	padding: 4px 5px;
	border: 1px solid #ddd;
	background: #efefef;
	border-top: 0;
	font-size: 90%;
	position: relative;
}

#crudListPagination .crudCount {
	margin: 0;
}


#crudListPagination .crudPages {
	margin: 0;
	position: absolute;
	right: 5px;
	top: 4px;
}

#crudListPagination input[type=button]:HOVER {
	opacity:.7;
	}

#crudListPagination input[type=button] {
	color: #ffffff;
	border: none;
	margin: 0;
	position: relative;
	background: #6A6A6A;
	padding: 2px 3px;
	font-size: 90%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
}

/** Show **/

#crudShow {
	position: relative;
}

.crudDelete input {
	color: #fff;
	border: none;
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	background: #c00;
	padding: 2px 10px;
	font-size: 90%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
        display: none;
}

.crudDelete input:hover {
	opacity: .7;
}




#crud #crudContent .tableForeig {
        min-width: 60%;
	max-width: 60%;
        width:auto;
	border: 1px solid #ddd;
	border-top: none;
        margin-top: 30px;
	border-collapse: collapse;
	tableForeig-layout: fixed;
        list-style: none;		
	position: relative;
	min-height: 150px;
	background: #ffffff;
	-webkit-box-shadow: rgba(0,0,0,0.4) 0 15px 40px, #aa5511 0 1px 1px, #ffffff 0 -1px 0px;
	-moz-box-shadow: rgba(0,0,0,0.4) 0 15px 40px, #aa5511 0 1px 1px, #ffffff 0 -1px 0px;
	border-radius: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;    
                
	            
}




#crud #crudContent .tableForeig thead tr {
	background: #0A65AF;
}

#crud #crudContent .tableForeig th {
	color: #fff;
	font-weight: bold;
}

#crud #crudContent .tableForeig th a {
	color: #fff;
	font-weight: bold;
}

#crud #crudContent .tableForeig th {
	text-align: left;
	padding: 2px 2px;
        width: 90%;
        
}

#crud #crudContent .tableForeig  th.accion {
	text-align: right;
	padding: 2px 2px;
        width: 50px;
}

#crud #crudContent .tableForeig td {
	text-align: left;
	padding: 2px 2px;
        width: 90%;
}

#crud #crudContent .tableForeig td.accion {
	text-align: right;
        width: 80px;
}

#crud #crudContent .tableForeig td {
	border-bottom: 1px solid #eee;
}

#crud #crudContent .tableForeig tr.even {
	background: #f9f9f9;
}

#crud #crudContent .tableForeig tr:last-child td {
	border-bottom: 1px solid #ddd;
}




.accion a{

}


#crud #crudContent .tableForeig  th.accion a {
width:20px; 
height:20px; 
border-style: none;
text-decoration: none;
 

}

#crud #crudContent .tableForeig  th.accion a img.add {
width:20px; 
height:20px; 
border:0;
background: transparent url(/public/images/add.png) no-repeat center;
border-style: none;

}

#crud #crudContent .tableForeig  th.accion a img.new {
width:20px; 
height:20px; 
border:0;
background: transparent url(/public/images/new.png) no-repeat center;
border-style: none;

}

#crud #crudContent .tableForeig  td.accion a img.del {
width:20px; 
height:20px; 
border:0;
background: transparent url(/public/images/del.png) no-repeat center;
border-style: none;

}



#crud #crudContent .tableForeig  th.accion a img:hover {
	opacity: .7;
}

#crud #crudContent .tableForeig  td.accion a img:hover {
	opacity: .7;
}

.crudField  img.add{
width:20px; 
height:20px; 
display: inline;
position: relative;
vertical-align: middle;
background: transparent url(/public/images/add.png) no-repeat center; 

}

.crudField  img.add:hover {
	opacity: .7;
}

.crudField  img.new{
width:20px; 
height:20px; 
position: relative;
vertical-align: middle;
background: transparent url(/public/images/new.png) no-repeat center; 

}

.crudField  img.new:hover {
	opacity: .7;
}

.crudForeignButton input{
display:none; 
}

.crudBlankForeign{
	list-style: none;
	width: 70%;
	margin: 30px auto 20px;
	padding: 10px 10px 10px;
	position: relative;
	min-height: 150px;
	background: #ffffff;
	-webkit-box-shadow: rgba(0,0,0,0.4) 0 15px 40px, #aa5511 0 1px 1px, #ffffff 0 -1px 0px;
	-moz-box-shadow: rgba(0,0,0,0.4) 0 15px 40px, #aa5511 0 1px 1px, #ffffff 0 -1px 0px;
	border-radius: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}