#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>

    <div id="crudListSearch">
        #{crud.searchBusquedaEntradasFondos  /}        
    </div>

    <div id="crudListPagination">
        #{crud.pagination /}
    </div>    
  
    <div id="crudListTable">
        #{crud.tableBusquedaEntradasFondos fields:['fondo','tipoEntradaFondo','tipoGeneroFondo','titulo','autor','prestamoFondo.disponibleLectura','prestamoFondo.disponiblePrestamo','prestamoFondo.DataDevolucion','prestamoFondo.FacerPrestamo']}
        #{crud.custom 'prestamoFondo.disponibleLectura'}
        #{if (object.estaDisponibleParaLectura())}
        <img src="/public/images/line/transparentInputImage.png" id="checkSI" title="&{'prestamoFondo.tituloDisponibleLectura',object.nExemplaresLectura}"/>  
        <span id='subindice'>(${object.nExemplaresLectura})</span> 
        #{/if}
        #{else}
        <img src="/public/images/line/transparentInputImage.png" id="checkNO" title="&{'prestamoFondo.nonDisponibleLectura'}"/>  
       
        
        #{/else}
        #{/crud.custom}  
        
        
        #{crud.custom 'prestamoFondo.disponiblePrestamo'}
        #{if (object.ePrestable)}       
        #{if (object.estaDisponibleParaPrestamo())}
        <img src="/public/images/line/transparentInputImage.png" id="checkSI" title="&{'prestamoFondo.tituloDisponiblePrestamo',object.exemplaresDisponiblePrestamo()}"/> 
        <span id='subindice'>(${object.exemplaresDisponiblePrestamo()})</span>
        
        #{/if}
        #{else}
        <img src="/public/images/line/transparentInputImage.png" id="checkNO" title="&{'prestamoFondo.nonDisponiblePrestamo'}"/>       
        #{/else}
        #{/if}
        #{else}
        <span id='resaltaTextoRed'>&{'prestamoFondo.NonPrestable'}</span> 
        
        #{/else}
        
        #{/crud.custom}  
        
        
        #{crud.custom 'prestamoFondo.DataDevolucion'}
        #{if (object.ePrestable)} 
        #{if (!object.estaDisponibleParaPrestamo())}
        ${object.proximaDataDevolucion()}
        #{/if}
        #{/if}
        #{/crud.custom} 


        #{crud.custom 'prestamoFondo.FacerPrestamo'}  
        #{if (object.estaDisponibleParaPrestamo())}
        <input src="/public/images/line/transparentInputImage.png" id="facerPrestamo" type="image" title="&{'prestamoFondo.tituloFacerPrestamo',object}"  onclick="javascript:accionSubmitSearching('seleccionaAfiliado',${page},${object._key()})" value="" />          
        #{/if}
        #{/crud.custom}            

        #{/crud.tableBusquedaEntradasFondos}
    </div>

    <div id="crudListPagination">
        #{crud.pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'crud.add', type.modelName}</a>
    </p>

</div>
