#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListPagination">
        #{crud.pagination /}
    </div>    
       
        
 <div id="crudListTable">
        #{crud.table fields:['afiliado','dataAlta','dataBaixa','estadoUsuario','afiliado.accion']}
        #{crud.custom 'dataAlta'}
        #{if (object.dataAlta!=null)}
        ${object.dataAlta.format()}
        #{/if}
        #{/crud.custom}
        #{crud.custom 'dataBaixa'}
        #{if (object.dataBaixa!=null)}
        ${object.dataBaixa.format()}
        #{/if}
        #{/crud.custom}
              
        #{crud.custom 'afiliado.accion'}  
        #{if (object.estadoUsuario.id==1) }
        <input src="/public/images/line/transparentInputImage.png" class="afiliadosmenos"   type="image" title="&{'user.facerBaixa'}  ${field}${object.toString()?.escape()?.raw() ?: '(no value)'}"  onclick="javascript:confirmaAccionSubmitSearching('&{'user.confirmarBaixa',object.afiliado.persoa}','darDebaixaUsuarioERepintar',${page},${object._key()})" value="" /> 
        #{/if}
        #{if (object.estadoUsuario.id==2) }
        <input src="/public/images/line/transparentInputImage.png" class="afiliadosmais" type="image" title="&{'user.facerAlta'}  ${field}${object.toString()?.escape()?.raw() ?: '(no value)'}"  onclick="javascript:confirmaAccionSubmitSearching('&{'user.confirmarAlta',object.afiliado.persoa}','darDeAltaUsuarioERepintar',${page},${object._key()})" value="" /> 
        #{/if}
        #{/crud.custom}            
        #{/crud.table}
    </div>        
        
        
    </div>

    <div id="crudListPagination">
        #{crud.pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'crud.add', type.modelName}</a>
    </p>

</div>
