#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'NotificacionInternaNonLeidas'}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListTable">
        #{crud.table fields:['dataAlta','asunto','accion']}
        #{crud.custom 'dataAlta'}
        #{if (object.dataAlta!=null)}
        ${object.dataAlta.format()}        
        #{/if}                                  
        #{/crud.custom}
        #{crud.custom 'accion'}
        #{a @macarLeidoERepintar().add('id',object._key()).add('page',page).add('seacrh',search)}&{'NotificacionInterna.marcarLeida'}#{/a}        
        #{/crud.custom}       
        #{/crud.table}
     </div>

    <div id="crudListPagination">
        #{crud.pagination /}
    </div>

</div>
