#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}


<div id="crudBlank" class="${type.name}">

    <h2 id="crudBlankTitle">&{'crud.blank.title', type.modelName}</h2>

    <div class="objectForm">
    #{form action:@create(), enctype:'multipart/form-data', name:'searching'}
     <input type="hidden" name="page" value="${page}">            
    <input type="hidden" name="where" value="${where}">
    <input type="hidden" name="search" value="${search}">
    <input type="hidden" name="from" value="true">
        #{crud.form /}
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
            <input type="submit" name="_saveAndAddAnother" value="&{'crud.saveAndAddAnother', type.modelName}" />              
            <input type="button" onClick="javascript:submitAccion('list')" value="&{'crud.voltarABusqueda'}" />
        </p>
    #{/form}
    </div>

</div>