#{extends 'CRUD/layoutSinMenu.html' /}
#{set title:messages.get('crud.list.title', type.name) /}
%{ cacheIde = params["cacheId"] }%

<div id="crudListForeign" class="${type.name}">
<a href="javascript:history.back(-1)"><img id="fecharVenta" title="&{'crud.pecharventa'}"/></a>

    <h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>

    <div id="crudListSearch">
        #{crud.searchForeign /}
    </div>

    <div id="crudListTable">
        #{crud.tableForeign /}
    </div>

    <div id="crudListPagination">
        #{crud.paginationForeign /}
    </div>

</div>
