#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>
       
    <div id="crudListPagination">
        #{crud.pagination /}
    </div>    
                <input type="hidden" name="page" value="${page}">            
                <input type="hidden" name="where" value="${where}">
                <input type="hidden" name="search" value="${search}">
                <input type="hidden" name="from" value="true">

    <div id="crudListTable">
        #{crud.table fields:['entradaFondo','afiliado','dataVenda','nUnidades','dataDevolucionVenda','importeVenda','venda.facerDevolucion']}
       
        #{crud.custom 'dataVenda'}
        #{if (object.dataVenda!=null)}
        ${object.dataVenda.format()}
        #{/if}
        #{/crud.custom}
        
        #{crud.custom 'dataDevolucionVenda'}
        #{if (object.dataDevolucionVenda!=null)}
        ${object.dataDevolucionVenda.format()}
        #{/if}
        #{/crud.custom}        
        
        #{crud.custom 'importeVenda'}
        #{if (object.importeVenda!=null)}
        ${object.importeVenda.formatCurrency('EUR')}     
        #{/if}
        #{/crud.custom}
        
        #{crud.custom 'venda.facerDevolucion'}
        #{if (object.dataDevolucionVenda==null)}
        <input src="/public/images/line/transparentInputImage.png" id="facerDevolucionPrestamo"   type="image" title="&{'venda.facerDevolucion'} "  onclick="javascript:confirmaAccionSubmitSearching('&{'venda.confirmaDevolucion',object}','facerDevolucionVenda',${page},${object._key()})" value="" /> 
        #{/if}

        #{/crud.custom}
        #{/crud.table}
    </div>

    
    <div id="crudListPagination">
        #{crud.pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'crud.add', type.modelName}</a>
    </p>

</div>
