<div class="pro_line2">
    <ul class="select">
        <li><a href="@{NotificacionInternas.listRecivedNonLeidas()}"><b>&{'menu.Inicio'}</b></a></li>

       #{secure.check 'permanencia'}
        <li><a href="#nogo"><b>&{'menu.permanencia'}</b><!--[if IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]><table><tr><td><![endif]-->
            <ul class="sub">
                <li><a href="@{Consultas.list()}">&{'menu.consulta'}</a></li>	      
            </ul>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
        #{/secure.check}         
        
        #{secure.check 'secretariaXeral'}
        <li><a href="#nogo"><b>&{'menu.secretariaXeral'}</b><!--[if IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]><table><tr><td><![endif]-->
            <ul class="sub">
                <li><a href="@{Organismos.list()}">&{'menu.secretariaXeral.organizacion'}</a></li>	
                <li><a href="@{Comites.list()}">&{'menu.secretariaXeral.comite'}</a></li>
                <li><a href="@{Secretarias.list()}">&{'menu.secretariaXeral.secretaria'}</a></li>
                <li><a href="@{Avisos.list()}">&{'menu.secretariaXeral.avisos'}</a></li>
                <li><a href="@{Users.list()}">&{'menu.secretariaXeral.usuarios'}</a></li>
                <li><a href="@{Asembleas.list()}">&{'menu.secretariaXeral.asembleas'}</a></li>
                <li><a href="@{Empresas.list()}">&{'menu.secretariaXeral.empresas'}</a></li>

            </ul>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
        #{/secure.check} 


         #{secure.check 'accionSindical'}
        <li><a href="#nogo"><b>&{'menu.accionsindical'}</b><!--[if IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]><table><tr><td><![endif]-->
            <ul class="sub">
                <li><a href="@{Conflitos.list()}">&{'menu.accionsindical.conflitos'}</a></li>
                <li><a href="@{Eventos.list()}">&{'menu.accionsindical.accions'}</a></li>
                <li><a href="@{Avisos.list()}">&{'menu.secretariaXeral.avisos'}</a></li>
                <li><a href="@{Informes.show('InformeConflitos')}">&{'menu.Informes.Conflitos'}</a></li>
                <li><a href="@{Informes.show('InformeEventos')}">&{'menu.Informes.Eventos'}</a></li>
               
            </ul>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
        #{/secure.check}
        
        #{secure.check 'organizacion'}
        <li><a href="#nogo"><b>&{'menu.organizacion'}</b><!--[if IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]><table><tr><td><![endif]-->
            <ul class="sub">
                <li><a href="@{Persoas.list()}">&{'menu.Persoas'}</a></li>	
                <li><a href="@{Afiliados.list()}">&{'menu.organizacion.afiliados'}</a></li>
                <li><a href="@{Eventos.list()}">&{'menu.Eventos'}</a></li>
                <li><a href="@{Avisos.list()}">&{'menu.secretariaXeral.avisos'}</a></li>
                <li><a href="@{Enderezos.list()}">&{'menu.secretariaXeral.enderezos'}</a></li>   
                <li><a href="@{Asembleas.list()}">&{'menu.secretariaXeral.asembleas'}</a></li>
                <li><a href="@{Informes.show('InformeAfiliados')}">&{'menu.Informes.Afiliados'}</a></li>
                <li><a href="@{Informes.show('InformeAcordos')}">&{'menu.Informes.Acordos'}</a></li>
                <li><a href="@{Empresas.list()}">&{'menu.secretariaXeral.empresas'}</a></li>                
            </ul>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
        #{/secure.check} 
        
        #{secure.check 'propaganda'}
        <li><a href="#nogo"><b>&{'menu.propaganda'}</b><!--[if IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]><table><tr><td><![endif]-->
            <ul class="sub">
                <li><a href="@{Fondos.list()}">&{'menu.propaganda.fondos'}</a></li>
                <li><a href="@{EntradaFondos.list()}">&{'menu.propaganda.entradas'}</a></li>
                <li><a href="@{Informes.show('InformeFondos')}">&{'menu.Informes.Fondos'}</a></li>
               
            </ul>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
        #{/secure.check} 

        #{secure.check 'tesoureria'}
        <li><a href="#nogo"><b>&{'menu.tesoureria'}</b><!--[if IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]><table><tr><td><![endif]-->
            <ul class="sub">
                <li><a href="@{LibroContas.list()}">&{'menu.tesoureria.LibroContas'}</a></li>
                <li><a href="@{FollaContas.list()}">&{'menu.tesoureria.FollaContas'}</a></li>
                <li><a href="@{Informes.show('InformeTesoureria')}">&{'menu.Informes.Tesoureria'}</a></li>

            </ul>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
        #{/secure.check}         
        

        
        #{secure.check 'recibeNotificacions'}
        <li><a href="#nogo"><b>&{'NotificacionInternas'}</b><!--[if IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]><table><tr><td><![endif]-->
            <ul class="sub">
                <li><a href="@{NotificacionInternas.listRecived()}">&{'NotificacionInterna.recibidas'}</a></li>
                <li><a href="@{NotificacionInternas.list()}">&{'NotificacionInterna.enviadas'}</a></li>
            </ul>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
        #{/secure.check}         

        
        #{secure.check 'autenticado'}
        <li><a href="#nogo"><b>&{'menu.configuracion'}</b><!--[if IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]><table><tr><td><![endif]-->
            <ul class="sub">
                <li><a href="@{ListaDistribucions.list()}">&{'menu.configuracion.listasDistribucion'}</a></li>
                <li><a href="@{Contactos.list()}">&{'menu.configuracion.contactos'}</a></li>
                <li><a href="@{Users.password()}">&{'menu.password'}</a></li>
                <li><a href="@{Idiomas.idiomas()}">&{'menu.idiomas'}</a></li>

            </ul>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
        #{/secure.check}         
        
        

        #{secure.check 'admin'}        
        <li><a href="@{Admin.index()}"><b>&{'menu.Admin'}</b><!--[if IE 7]><!--></a><!--<![endif]--></li>
        <li><a href="@{Chat.conversaComite()}"  onClick="showPopupChat(this);return(false);"><b>&{'menu.chat'}</b><!--[if IE 7]><!--></a><!--<![endif]--></li>
        #{/secure.check} 


        
        
        
        #{if session.username}
        
            <ul class="inOut">
                <li class="inOut"> <a  href="@{Secure.logout()}"><b>&{'login.out'}</b><!--[if IE 7]><!--></a><!--<![endif]--></li>
            

    #{/if}
    #{else}
    
        
            <li class="inOut"><a  href="@{Privado.index()}"><b>&{'login.in'}</b><!--[if IE 7]><!--></a><!--<![endif]--></li>  
        
       
#{/else}
</ul>
    </ul>
</div>
