#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListPagination">
        #{crud.paginationForeign /}
    </div>    
    
    <div id="crudListTable">
        #{crud.table fields:['tipoApuntamento','concepto','descricion','dataApuntamento','importe']}
        #{crud.custom 'dataApuntamento'}
        #{if (object.dataApuntamento!=null)}
        ${object.dataApuntamento.format()}
        #{/if}
        #{/crud.custom}
        #{crud.custom 'importe'}
        #{if (object.importe!=null)}
        ${object.importe.formatCurrency("EUR")}        
        #{/if}
        #{/crud.custom}
        
        #{/crud.table}
    </div>

    <div id="crudListPagination">
        #{crud.pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'crud.add', type.modelName}</a>
    </p>

</div>
